* {
    font-family: sans-serif;
}

a {
    color: black;
}

a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 0;
}

td, th {
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

span {
    color: red;
}
